extends layout

block content
  div.content
    h1= title
    h2 Messages 
    div.message-box
      each msg in messages
        div.message-content
          p #{msg.user}
          p #{msg.text}
          p #{msg.added}
          hr

    form(method="POST") 
      div 
        label(for="messageText") Message
        textarea#messageText(name="messageText") 
      div 
        label(for="user") Name
        input#user(type="text" name="user" )
      button(type="submit") Submit