*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
}

.content {
  margin: 0 auto;
  margin-top: 5%;
  max-width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

.message-box {
  border: 1px solid black;
  min-height: 50dvh;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

form {
  margin-left: auto;
  max-width: 500px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
  font-weight: bolder;
}

textarea {
  resize: vertical;
}

button {
  padding: 5px 10px;
  font-size: 1.2rem;
}
